@tailwind base;
@tailwind components;
@tailwind utilities;

h1,h2,h3,h4,h5,p,span{
  margin: 0;
  padding: 0;
}

.text__shadow {
  text-shadow: '0px 0px 9px #EC4AE7, 0px 0px 3px #FA75F6, 2px 4px 4px rgba(0, 0, 0, 0.40)'
}

.text__color {
  background: var(--gradient-1, linear-gradient(92deg, #F07DED 0.27%, #EC4AE7 51.91%, #F281EF 99.31%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title2__color {
  color:  #EC4AE7;
  text-shadow: 0px 0px 38.99060821533203px rgba(223, 97, 255, 0.38), 0px 0px 11.913796424865723px rgba(255, 97, 239, 0.33), 0px 0px 81.23043060302734px rgba(233, 97, 255, 0.59), 0px 0px 19.495304107666016px rgba(252, 97, 255, 0.06), 0px 0px 21.661449432373047px rgba(228, 57, 183, 0.20);
  font-family: Exo;
  font-size: 3.24919vw;
  font-style: normal;
  font-weight: 700;
  line-height: 4.87381vw; /* 150% */
}

.title__color {
  background: var(--gradient-1, linear-gradient(92deg, #F07DED 0.27%, #EC4AE7 51.91%, #F281EF 99.31%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px 7px rgba(173, 0, 255, 0.88);
  font-size: 2.25vw;
  font-style: normal;
  font-weight: 700;
  line-height: 3.375vw;
}

.background2 {
  background: lightgray -377.257px 0px / 147.157% 100% no-repeat;
  opacity: 0.4;
}

li {
  text-align: justify;
}

p {
  text-align:  justify;
}

.info {
  border-radius: 1.4375vw;
  border: 3px solid var(--gradient-2, #FFC6FD);
  background: rgba(1, 2, 109, 0.40);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
}

/* Rules */
.rules__title {
  background: linear-gradient(180deg, #0B0C8F 0%, rgba(9, 28, 155, 0.85) 0%, rgba(11, 12, 143, 0.00) 43.24%);
  width: 100vw;
  height: 16.19vw;
}

.rules__tree-center {
  width: 0.0625vw;
  height: 170.42313vw;
  background: linear-gradient(92deg, #F07DED 0.27%, #EC4AE7 51.91%, #F281EF 99.31%);
}

.rules__tree-left {
  /* text-align: right; */
  font-family: Exo;
  font-size: 3vw;
  font-style: normal;
  font-weight: 700;
  line-height: 4.5vw; /* 150% */
  margin-left: 13.27vw;
}

.text__stroke {
  background: linear-gradient(180deg, #F07DED 100%, #EC4AE7 100%, #F281EF 100%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px transparent;
  color: #01026d;
}

.text__gradient2 {
  background: var(--gradient-2, linear-gradient(180deg, #FFC6FD 0%, #FF9EFC 48.96%, #FFC6FD 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@font-face {
  font-family: 'exo';
  src: url('exo/Exo-Thin.ttf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'exo';
  src: url('exo/Exo-ExtraLight.ttf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'exo';
  src: url('exo/Exo-Medium.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'exo';
  src: url('exo/Exo-SemiBold.ttf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'exo';
  src: url('exo/Exo-Black.ttf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'exo';
  src: url('exo/Exo-ExtraBold.ttf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'exo';
  src: url('exo/Exo-ThinItalic.ttf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'exo';
  src: url('exo/Exo-ExtraLightItalic.ttf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'exo';
  src: url('exo/Exo-MediumItalic.ttf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'exo';
  src: url('exo/Exo-SemiBoldItalic.ttf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'exo';
  src: url('exo/Exo-BlackItalic.ttf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'exo';
  src: url('exo/Exo-ExtraBold.ttf') format('opentype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'exo';
  src: url('exo/Exo-ExtraBold.ttf') format('opentype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'exo';
  src: url('exo/Exo-Bold.ttf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'exo';
  src: url('exo/Exo-Bold.ttf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'Atmospheric';
  src: url('a_atmospheric/aAtmospheric.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
