.footer__left {
    color: #FFF8FF;
    /* outer 1 */
    text-shadow: 0px 0px 9px #EC4AE7, 0px 0px 3px #FA75F6, 2px 4px 4px rgba(0, 0, 0, 0.40);
    font-size: 1.75vw;
    font-style: normal;
    font-weight: 700;
    line-height: 2.25vw; /* 128.571% */
    letter-spacing: 0.00438vw;
}

.footer__content {
    color:  #FFF;
    font-size: 0.875vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25vw; /* 142.857% */
    letter-spacing: 0.00875vw;
    text-shadow: none;
}

.footer__right {
    color:#FFF8FF;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 700;
    line-height: 1.875vw; /* 150% */
    letter-spacing: 0.00188vw;
}

.footer__right-title {
    text-shadow: 0px 0px 9px #EC4AE7, 0px 0px 3px #FA75F6, 2px 4px 4px rgba(0, 0, 0, 0.40);
}

.bg-footer {
    height: 19vw;
    flex-shrink: 0;
}

.list-footer li{
    text-transform: uppercase;
    color: #FFF8FF;
    text-align: center;
    font-size: 0.75vw;
    font-style: normal;
    font-weight: 700;
    line-height: 1vw; 
    letter-spacing: 0.03125vw;
}

@media only screen and (max-width: 768px) { 
    .list-footer li{
        font-size: 3.2vw;
        text-align: left;
    }
    
}