.form__title {
    text-shadow: 0px 0px 9px #EC4AE7, 0px 0px 3px #FA75F6, 2px 4px 4px rgba(0, 0, 0, 0.40);
    font-size: 2.25vw;
    font-weight: 700;
    line-height: 3.375vw;
    background: linear-gradient(180deg, #FFC6FD 0%, #FF9EFC 48.96%, #FFC6FD 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.blur__bottom {
    background: linear-gradient(to top, #01036d, #2b2ed100);
    height: 10vw;
    position: absolute;
    bottom: 0;
    width: 99vw;
}

.contract {
    color: #E3F7FF;
 /* 150% */
}

.contract__title {
    font-size: 1vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5vw;
}

.contract__button {
    color: #E3F7FF;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5vw; /* 150% */
}

.line__vertical {
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0px 0px 6px 2px #E3BDFF inset, 1px 1px 6px 0px #E3BDFF, 0px 0px 40px 0px rgba(227, 189, 255, 0.49);
    z-index: 50;
}

.contract__info {
    color: #FFF;
    font-size: 1vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5vw; /* 150% */
}

/* form title */
.form-register__title {
    color: #FFF;
    font-style: normal;
    font-weight: 400;
    line-height: 5.4vw; /* 128.955% */
    text-transform: uppercase;
}

.form-register__title2 {
    color:  #E3F7FF;
    font-size: 1.75vw;
    font-style: normal;
    font-weight: 700;
    line-height: 2.25vw; /* 128.571% */
    letter-spacing: 0.00438vw;
}

.input-custom {
    color: #8C77B9;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5vw; /* 150% */
    letter-spacing: -0.005vw;
}

.input-custom::placeholder {
    color: #8C77B9;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5vw; /* 150% */
}

.radio__text {
    color: #F4F4F4;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5vw; /* 150% */
    letter-spacing: -0.005vw;
}

.radio__img {
    background: url('/src/assets/images/svg/radio.svg');   
    height: 1.75vw;
    width: 1.75vw;
}

.text-bonus {
    color: #FFF;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5vw; /* 150% */
    letter-spacing: -0.005vw;
}

.check {
    color: #FFEDFE;
    font-size: 1vw;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5vw; /* 150% */
    letter-spacing: -0.005vw;
    width: 31.40969vw;
    margin-bottom: 2.5vw;
}

.bg__blur {
    width: 74.14vw;
    height: 51.05019vw;
    transform: rotate(-54.1deg);
    flex-shrink: 0;
    fill: #FF00F7;
    filter: blur(100px);
    pointer-events: none;
}

.rotate__none {
    transform: rotate(0);
}

.coating {
    background: url('/assets/images/slide.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 50;
    height: 38vw;
    width: 100%;
}


@media only screen and (max-width: 768px) {
    .form-register__title2  {
        color: #E3F7FF;
        font-size: 4.2vw;
        font-style: normal;
        font-weight: 700;
        line-height: normal; /* 150% */
        letter-spacing: 0.03px;
    } 
    .input-custom::placeholder {
        color: #8C77B9;
        font-size: 1vw;
        font-style: normal;
        font-weight: 400;
        font-size: 3.2vw;
        line-height: 4.26vw; /* 150% */
    }

    .input-custom {
        color: #8C77B9;
        font-size: 3.2vw;
        font-style: normal;
        font-weight: 400;
        line-height: 4.26vw; /* 150% */
        letter-spacing: -0.005vw;
    }
    .radio__img {
        background: url('/src/assets/images/svg/radio.svg');   
        height: 5.3vw;
        width: 5.3vw;
        background-color: red !important;
    }
    .radio__text {
        color: #F4F4F4;
        font-size: 3.73vw;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5vw; /* 150% */
        letter-spacing: -0.005vw;
    }
    .text-bonus {
        color: #FFF;
        font-size: 3.2vw;
        font-style: normal;
        font-weight: 400;
        line-height: 4.3vw; /* 133.333% */
        letter-spacing: 0.5px;
        margin-bottom: 6.4vw;
    }
    .check {
        color:#FFEDFE;
        font-size: 3.2vw;
        font-style: normal;
        font-weight: 700;
        line-height: 4.3vw; /* 133.333% */
        letter-spacing: 0.5px;
        width: 80vw;
        margin-top: 4.8vw;
        margin-bottom: 6.4vw;
    }
    .contract__button {
        display: flex;
        gap: 1.6vw;
        color: #E3F7FF;
        font-size: 4.26vw;
        font-style: normal;
        font-weight: 400;
        height: 9.6vw;
        line-height: normal;
        padding: 1.6vw 4.8vw;
    }
    .contract__info {
        color: #FFF;
        font-size: 1vw;
        font-style: normal;
        font-weight: 500;
        line-height: 5.33vw;
    }

}
