.close {
  box-shadow: 0px 0px 6px 2px #E3BDFF inset, 1px 1px 6px 0px #E3BDFF, 0px 0px 40px 0px rgba(227, 189, 255, 0.49);
}
.swiper-button-prev, .swiper-button-next {
  display: none;
}

.text__shadow {
  text-shadow: 0px 0px 2.7181384563446045px #EC4AE7, 0px 0px 0.9060461521148682px #FA75F6, 0.6040307879447937px 1.2080615758895874px 1.2080615758895874px rgba(0, 0, 0, 0.40);
}
  @media only screen and (max-width: 768px) { 
    .info {
        border-radius: 1.4375rem;
        border: 1.5px solid var(--gradient-2, #FFC6FD);
        background: rgba(1, 2, 109, 0.40);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(10px);
      }
      .blur__bottom {
        background: linear-gradient(to top, #01036d, #2b2ed100);
        height: 10vw;
        position: absolute;
        bottom: 0;
        width: 99vw;
    }
    .text__shadow {
      text-shadow: 0px 0px 2.7181384563446045px #EC4AE7, 0px 0px 0.9060461521148682px #FA75F6, 0.6040307879447937px 1.2080615758895874px 1.2080615758895874px rgba(0, 0, 0, 0.40);
    }
  }